<div class="custom-header">
  <div class="searchbar-group">
    <input type="text" placeholder="Search post..." />
    <button (click)="searchPost()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>

  <div ngbDropdown class="d-flex align-items-center gap-3">
    <span> Hey, {{ activeUser().name }}! </span>
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      Account
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="goToProfile()">Profile</button>
      <button ngbDropdownItem (click)="logout()">Switch Accounts</button>
      <button ngbDropdownItem (click)="logout()">Logout</button>
    </div>
  </div>
</div>
