<div class="modal-header">
  <h4 class="modal-title">Log in</h4>
</div>

<div class="modal-body">
  <p>Select an account to proceed:</p>

  <div class="selection-container">
    <select
      [(ngModel)]="userSelected.id"
      name="userSelection"
      id="userSelection"
    >
      <option value="0" selected>Select a profile</option>
      @for(user of usersList; track user){
      <option [value]="user.id">{{ user.name }}</option>
      }
    </select>
  </div>
</div>

@if(usersList && userSelected.id >0){
<div class="modal-footer" @transitionHeight>
  <button class="btn" (click)="defineUser()">Confirm</button>
</div>
}
