<div class="modal-header">
  <h4 class="modal-title">Iniciar sessão</h4>
</div>

<div class="modal-body">
  <p>Escolha um usuário para utilizar a plataforma:</p>

  <div class="selection-container">
    <select
      [(ngModel)]="userSelected.id"
      name="userSelection"
      id="userSelection"
    >
      <option value="0" selected>Selecione uma opção</option>
      @for(user of usersList; track user){
      <option [value]="user.id">{{ user.name }}</option>
      }
    </select>
  </div>
</div>

@if(usersList && userSelected.id >0){
<div class="modal-footer" @transitionHeight>
  <button (click)="defineUser()">Confirmar</button>
</div>
}
