@import "@styles/_variables.scss";

.post-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding-bottom: 150px;

  .post-group {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: auto;
    padding: 10px;
    // height: 800px;
    margin-bottom: 3%;

    .comments-container {
      display: flex;
      flex-direction: column;
      gap: 25px;
      position: relative;
      height: fit-content;
      z-index: 1;

      .comment-thread {
        z-index: -1;
        position: absolute;
        height: 100%;
        left: 20px;
        bottom: 65px;
        border-right: 5px dotted rgb(map-get($colors, "grey"), 40%);
      }
    }
  }
}
:host {
  display: block;
  height: 100%;
}
