.posts-header {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
}
.posts-group {
  display: flex;
  gap: 15px;
  flex-direction: column;
  padding-bottom: 25px;
}
