@import "@fortawesome/fontawesome-free/css/all.css";
@import "@styles/_variables.scss";

* {
  box-sizing: border-box;
}

html,
body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
  background-color: map-get($colors, "default_bg");
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
textarea {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

.custom-paginator {
  align-self: flex-end;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li.page-item:first-child .page-link,
    li.page-item:last-child .page-link {
      border-radius: 50%;
    }

    li.page-item {
      a {
        text-decoration: none;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: map-get($colors, "white");
        color: map-get($colors, "default_text");
        display: inline-block;
        margin: 0 4px;
        padding: 6px 0px;
        border: 1px solid #ccc;
        cursor: pointer;
        text-align: center;
        transition: ease-out 0.2s;

        &:hover {
          opacity: 50%;
        }
      }
      &.active {
        a {
          color: map-get($colors, "white");
          background-color: map-get($colors, "primary");
        }
      }
    }
  }
}

select {
  width: 100%;
  margin: 10px 0;
  height: 45px;
  border-radius: 4px;
  outline: none;
  box-shadow: map-get($box_shadow, "shadow_sm");
}

.btn {
  background-color: map-get($colors, "primary");
  color: map-get($colors, "white");
  transition: ease-out 0.2s;

  &:focus {
    opacity: 60%;
  }
}
